@import "tailwindcss";

* {
  border-color: #262626;
}

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #171717;
}

::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #525252;
}
